In [13]:
import pandas as pd
import numpy as np

###
# Pandas:
# Es una librería de Python para la manipulación y análisis de datos.
# Facilita la limpieza, transformación, exploración y visualización de datros.
# Sus estructuras de datos principales son los series y los DataFrames
###

###
# Características principales:
#   Estructuras de datos versátiles
#   Manupulación sencilla
#   Soporte de múltiples formatos de datos
#   Compatible con otras librerías
###

Series: Qué son?

In [ ]:
###
# Personalizar el índice
#####

serie = pd.Series([10, 20, 30, 40],  index=['A', 'B', 'C', 'D'])
print(serie)

###
# Operaciones con índices
###

print(serie['A'])
print(serie.mean())

###
# Creación
###

list_edades = [15, 25, 28, 30, 35, 39, 45, 48, 48]
serie_edades = pd.Series(list_edades, index=['Juan', 'Pepe', 'Luz', 'Sara', 'Felix', 'Aleja', 'Aura', 'Camilo', 'Victor'])
print(serie_edades)

###
# Acceder
###

print(serie_edades['Pepe'])

###
# Operaciones
###

prom = serie_edades.mean()
max = serie_edades.max()
min = serie_edades.min()
moda = serie_edades.mode()
moda

DataFrames: Qué son?

In [27]:
datos = {
    'nombre': ['Ana', 'Luis', 'Carlos'],
    'edad': [23, 34, 29],
    'Ciudad': ['Bogotá', 'Medellín', 'Cali']
}
df = pd.DataFrame(datos)
print(datos)

datos_clase = {
    'Nombres':   ['Nikolas', 'Paula', 'Leydi', 'Oscar', 'Karen'],
    'Sexo':      ['M', 'F', 'F', 'M', 'F'],
    'Est_Civil': ['Casado', 'Soltera', 'Unión Libre', 'Divorciado', 'Viuda'],
    'Edad':      [29, 22, 30, 23, 19]
}
df_datos = pd.DataFrame(datos_clase)
df_datos

{'nombre': ['Ana', 'Luis', 'Carlos'], 'edad': [23, 34, 29], 'Ciudad': ['Bogotá', 'Medellín', 'Cali']}

   Nombres Sexo    Est_Civil  Edad
0  Nikolas    M       Casado    29
1    Paula    F      Soltera    22
2    Leydi    F  Unión Libre    30
3    Oscar    M   Divorciado    23
4    Karen    F        Viuda    19