In [4]:
import pandas as pd
import numpy as np

# Importar un csv

df_olx_bgt = pd.read_csv("C:/Users/PC/Documents/cursos/Bootcamp analisis datos/archivos_data/olx_bogota.csv")
df_olx_medallo = pd.read_csv("C:/Users/PC/Documents/cursos/Bootcamp analisis datos/archivos_data/olx_medellin.csv")

df_olx_mdln_pruebas =  pd.read_csv("C:/Users/PC/Documents/cursos/Bootcamp analisis datos/archivos_data/olx_medellin.csv", 
                                   nrows=100, 
                                   usecols=list(range(1, 4)))       # range se usa para dar un rango de columnas a usar
df_olx_mdln_pruebas

           linea  modelo condición
0           Sail    2016     Usado
1          Logan    2010     Usado
2          Sonic    2016     Usado
3          LC200    2008     Usado
4   Land Cruiser    1997     Usado
..           ...     ...       ...
95             2    2011     Usado
96       Sandero    2012     Usado
97          CR-V    2003     Usado
98           323    1995     Usado
99          Clio    2004     Usado

[100 rows x 3 columns]

In [ ]:
# Importar un Excel

df_libros = pd.read_excel("C:/Users/PC/Documents/cursos/Bootcamp analisis datos/archivos_data/Libros.xlsx",
                          usecols="A:C",        # usecols 'A:C' me da el rango mientras que usecols 'A, C' me da solo las seleccionadas
                          skiprows=range(1,6),
                          nrows=9)
df_libros

### Exportación

In [8]:
###
# CSV
###

df_kia = df_olx_medallo[(df_olx_medallo['marca'] == 'Kia') &
               ((df_olx_medallo['modelo'] >= 1995) &
                (df_olx_medallo['modelo'] <= 2015))].sort_values(['precio'], ascending=True).head(10)

df_kia.to_csv('autos_kia_1995-2015.csv', index=False, encoding='utf-8')

In [11]:
###
# Excel
###

df_to_excel = df_olx_medallo[(df_olx_medallo['marca'] == 'Kia') &
               ((df_olx_medallo['modelo'] >= 1995) &
                (df_olx_medallo['modelo'] <= 2015))].sort_values(['precio'], ascending=True).head(10)

df_to_excel.to_excel('autos_kia_1995-2015.xlsx', index=False, engine='openpyxl',sheet_name="Autos")