In [3]:
import pandas as pd
import numpy as np

In [11]:
df_limpieza = pd.read_csv('../documentos/Limpieza_100.csv', sep=';')
df_limpieza

    month  day  year  plot_id species_id sex  hindfoot_length  weight
0       8   19  1977        3         DM   M             35.0    40.0
1       8   19  1977        7         DM   M             37.0    48.0
2       8   19  1977        4         DM   F             34.0    29.0
3       8   19  1977        4         DM   F             35.0    46.0
4       8   19  1977        7         DM   M             35.0    36.0
..    ...  ...   ...      ...        ...  ..              ...     ...
95      1   12  1983       12         DM   M             35.0    44.0
96      1   12  1983       20         RM   F             16.0     8.0
97      1   12  1983       13         DS   M             49.0   125.0
98      1   12  1983       14         DM   M             35.0    40.0
99      1   12  1983       24         DM   M             37.0    42.0

[100 rows x 8 columns]

In [5]:
df_limpieza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            100 non-null    int64
 1   day              100 non-null    int64
 2   year             100 non-null    int64
 3   plot_id          100 non-null    int64
 4   species_id       100 non-null    object
 5   sex              83 non-null     object
 6   hindfoot_length  82 non-null     float64
 7   weight           73 non-null     float64
dtypes: float64(2), int64(4), object(2)
memory usage: 6.4+ KB

In [8]:
# Identificación
df_limpieza.isnull()
df_limpieza['sex'].isnull().sample(10)

55    False
93    False
59    False
31    False
97    False
43     True
99    False
36    False
49    False
37    False
Name: sex, dtype: bool

In [6]:
# Conteo de nulos
df_limpieza.isnull().sum()

month               0
day                 0
year                0
plot_id             0
species_id          0
sex                17
hindfoot_length    18
weight             27
dtype: int64

In [7]:
###
# Eliminación
###

# Todo
df_limpieza.dropna(inplace=True)

In [14]:
# Eliminación de columnas que contengan al menos un dato nulo
df_sin_con_null = df_limpieza.dropna(axis=1)
df_sin_con_null

    month  day  year  plot_id species_id
0       8   19  1977        3         DM
1       8   19  1977        7         DM
2       8   19  1977        4         DM
3       8   19  1977        4         DM
4       8   19  1977        7         DM
..    ...  ...   ...      ...        ...
95      1   12  1983       12         DM
96      1   12  1983       20         RM
97      1   12  1983       13         DS
98      1   12  1983       14         DM
99      1   12  1983       24         DM

[100 rows x 5 columns]

In [ ]:
# Eliminar nulos por columna 
df_sex_sin_null = df_limpieza.dropna(subset=['sex'])    # .dropna(subset['']) elimina los nulls de la columna que le digamos
df_sex_sin_null.isnull().sum()

month               0
day                 0
year                0
plot_id             0
species_id          0
sex                 0
hindfoot_length     1
weight             11
dtype: int64

### Opciones (como tarea mirar:)

- dropna(how='all'): elimina registros donde todas las celdas son Nan
- dropna(axis=1, how='all'): elimina columna donde todas las celdas son Nan
- dropna(thresh=5): elimina filas donde mínimo 5 son Nan

In [16]:
df_limpieza.isnull().sum()  # Me muestra los nulls que hay

month               0
day                 0
year                0
plot_id             0
species_id          0
sex                17
hindfoot_length    18
weight             27
dtype: int64

In [13]:
df_limpieza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            100 non-null    int64
 1   day              100 non-null    int64
 2   year             100 non-null    int64
 3   plot_id          100 non-null    int64
 4   species_id       100 non-null    object
 5   sex              83 non-null     object
 6   hindfoot_length  82 non-null     float64
 7   weight           73 non-null     float64
dtypes: float64(2), int64(4), object(2)
memory usage: 6.4+ KB