In [1]:
import pandas as pd
import numpy as np

In [53]:
df_limpieza = pd.read_csv('../documentos/Limpieza_100.csv', sep=';')
df_limpieza

    month  day  year  plot_id species_id sex  hindfoot_length  weight
0       8   19  1977        3         DM   M             35.0    40.0
1       8   19  1977        7         DM   M             37.0    48.0
2       8   19  1977        4         DM   F             34.0    29.0
3       8   19  1977        4         DM   F             35.0    46.0
4       8   19  1977        7         DM   M             35.0    36.0
..    ...  ...   ...      ...        ...  ..              ...     ...
95      1   12  1983       12         DM   M             35.0    44.0
96      1   12  1983       20         RM   F             16.0     8.0
97      1   12  1983       13         DS   M             49.0   125.0
98      1   12  1983       14         DM   M             35.0    40.0
99      1   12  1983       24         DM   M             37.0    42.0

[100 rows x 8 columns]

In [ ]:
# Valor constante
df_limpieza['sex'] = df_limpieza['sex'].fillna('f')     # Opción 1
df_limpieza.fillna({'weight' : 20}, inplace=True)       # Opción 2

In [32]:
# Valores estadisticos o calculados (Reemplaza los nulos por el valos calculado en .fillna)
df_limpieza['sex'] = df_limpieza['sex'].fillna(df_limpieza['sex'].mode()[0])
df_limpieza['hindfoot_length'] = df_limpieza['hindfoot_length'].fillna(df_limpieza['hindfoot_length'].mean())
df_limpieza['weight'] = df_limpieza['weight'].fillna(df_limpieza['weight'].median())

In [56]:
df_limpieza.fillna({'sex': df_limpieza['sex'].mode()[0]}, inplace=True)
df_limpieza.fillna({'hindfoot_length':df_limpieza['hindfoot_length'].mean()}, inplace=True)
df_limpieza.fillna({'weight':df_limpieza['weight'].median()}, inplace=True)

In [57]:
df_limpieza.isnull().sum()

month              0
day                0
year               0
plot_id            0
species_id         0
sex                0
hindfoot_length    0
weight             0
dtype: int64

In [21]:
df_limpieza.sample(10)

    month  day  year  plot_id species_id sex  hindfoot_length  weight
14      8   19  1977        4         SS   F        34.634146    41.0
72     12   11  1977       11         OT   F        34.634146    41.0
21      8   20  1977       19         DM   F        35.000000    43.0
50      8   20  1977        5         PF   F        13.000000     8.0
57     12   11  1977        8         PF   F        15.000000     6.0
89      1   12  1983       11         DM   M        36.000000    43.0
81     12   11  1977        3         PF   M        16.000000     7.0
3       8   19  1977        4         DM   F        35.000000    46.0
36      8   20  1977       11         DM   M        37.000000    45.0
26      8   20  1977       12         PP   F        20.000000    15.0